@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background: #F1F1F1;
}
.h1{
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;

  /* identical to box height */

  color: #04172A;
}
.analyticsh2{
  position: absolute;
  width: 146px;
  height: 23px;
  left: 732.5px;
  top: 93px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #04172A;
}
.analyticsp{
  position: absolute;
  width: 127px;
  height: 21px;
  left: 732.5px;
  top: 118px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  /* identical to box height */

  color: #04172A;
}
.analyticsh2-2{
  top: 166px;
}
.analyticsp-2{
  top: 191px;
}
.analyticsh2-3{
  top: 239px;
}
.analyticsp-3{
  top: 264px;
}
.analyticsh2-4{
  top: 312px;
}
.analyticsp-4{
  top: 337px;
}
.analytics{
  position: absolute;
  width: 1067px;
  height: 437px;
  left: 0px;
  top: 131px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.analytics h1{
  position: absolute;
  width: 244px;
  height: 47px;
  left: 38px;
  top: 42px;
}
.internsData{
  position: absolute;
  width: 530px;
  height: 252px;
  left: 0px;
  top: 627px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.internsData h1{
  position: absolute;
  width: 228.24px;
  height: 47px;
  left: 37px;
  top: 41px;
}
.interns p{

}
.channels{
  position: absolute;
  width: 530px;
  height: 252px;
  left: 543px;
  top: 627px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.channels h1{
  position: absolute;
  width: 281.03px;
  height: 47px;
  left: 13px;
  top: 44px;
}
.internsLocation{
  position: absolute;
  width: 530px;
  height: 570px;
  left: 0px;
  top: 943px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.internsLocation h1{
  position: absolute;
  width: 377.16px;
  height: 59px;
  left: 35px;
  top: 57px;
}
.recent{
  position: absolute;
  width: 530px;
  height: 361px;
  left: 543px;
  top: 943px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.recent h1{
  position: absolute;
  width: 285px;
  height: 43px;
  left: 21px;
  top: 60px;
}
.copyright{
  position: absolute;
  width: 116px;
  height: 32px;
  left: 499px;
  top: 1679px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;

  /* identical to box height, or 267% */

  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1440px){
  .channels{
    width: calc((530/1440)*100vw);
  }
  .internsLocation{
    width: calc((530/1440)*100vw);
  }
  .recent{
    width: calc((530/1440)*100vw);
  }
  .analytics{
    width: calc((1067/1440)*100vw);
    height: 437px;
  }
  .internsData{
    width: calc((530/1440)*100vw);
    height: 252px;
  }
  .channels{
    width: calc((530/1440)*100vw);
    height: 252px;
    left: calc((543/1440)*100vw);
  }
  .internsLocation{
    width: calc((530/1440)*100vw);
    height: 570px;
  }
  .recent{
    width: calc((530/1440)*100vw);
    height: 361px;
    left: calc((543/1440)*100vw);
  }
  .copyright{
    left: calc((499/1440)*100vw);
  }
}
