@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background: #F1F1F1;
}
.h1{
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;

  /* identical to box height */

  color: #04172A;
}
.analyticsh2{
  position: absolute;
  width: 146px;
  height: 23px;
  left: 2px;
  top: 2px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #04172A;
}
.analyticsp{
  position: absolute;
  width: 127px;
  height: 21px;
  left: 2px;
  top: 30px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  /* identical to box height */

  color: #04172A;
}
.analytics-p{
  position: absolute;
  width: 182px;
  height: 2px;
  left: 2px;
  top: 65px;
  z-index: 3;

  background: #6E54AE;
  border-radius: 15px;
}
.analytics-p1{
  width: 138px;
  left: 111px;
  z-index: 2;

  background: #CCCCCC;
  border-radius: 15px;
}
.analytics{
  position: absolute;
  width: 1067px;
  height: 437px;
  left: 0px;
  top: 131px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.analyticsContainer{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 730px;
  top: 90px;
}
.analyticsContainer1{
  top: 165px;
}
.analyticsContainer2{
  top: 240px;
}
.analyticsContainer3{
  top: 315px;
}
.analytics-img{
  position: absolute;
  width: 639.5px;
  height: 188px;
  left: 38px;
  top: 138px;
}
.analytics h1{
  position: absolute;
  width: 244px;
  height: 47px;
  left: 38px;
  top: 42px;
}
.internsData{
  position: absolute;
  width: 530px;
  height: 252px;
  left: 0px;
  top: 627px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.internsData h1{
  position: absolute;
  width: 228.24px;
  height: 47px;
  left: 37px;
  top: 41px;
}
.internsData-p1{
  position: absolute;
  width: 131.68px;
  height: 13.89px;
  left: 37px;
  top: 111px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #052A04;
}
.internsData-p2{
  width: 96.56px;
  height: 14.12px;
  left: 218px;
  top: 111px;
}
.internsData-p3{
  width: 88.88px;
  height: 14.95px;
  left: 365px;
  top: 111px;
  color: #FF0000;
}
.internsData-p11{
  position: absolute;
  width: 80.1px;
  height: 40.11px;
  left: 37px;
  top: 131px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  color: #FF9501;
}
.internsData-p21{
  left: 218px;
}
.internsData-p31{
  left: 365px;
}
.channels{
  position: absolute;
  width: 530px;
  height: 252px;
  left: 543px;
  top: 627px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.channels h1{
  position: absolute;
  width: 281.03px;
  height: 47px;
  left: 13px;
  top: 44px;
}
.channels-p1{
  position: absolute;
  width: 139.51px;
  height: 14.66px;
  left: 21px;
  top: 110px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #04172A;
}
.channels-p2{
  width: 60.52px;
  height: 15.78px;
  left: 211.05px;
  top: 110px;
}
.channels-p3{
  width: 53.34px;
  height: 15px;
  left: 323px;
  top: 110px;
  color: #FF0C0C;
}
.channels-p11{
  position: absolute;
  width: 37.96px;
  height: 42.34px;
  left: 21px;
  top: 131px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  color: #FF9501;
}
.channels-p21{
  left: 211px;
}
.channels-p31{
  left: 323px;
}
.internsLocation{
  position: absolute;
  width: 530px;
  height: 570px;
  left: 0px;
  top: 943px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.internsLocation h1{
  position: absolute;
  width: 377.16px;
  height: 59px;
  left: 35px;
  top: 57px;
}
.internsLocation-img{
  position: absolute;
  width: 384.85px;
  height: 175px;
  left: 72px;
  top: 146px;
}
.internsLocationContainer{
  position: absolute;
  width: 436px;
  height: 30px;
  left: 35px;
  top: 359px;
}
.internsLocationContainer1{
  position: absolute;
  width: 436px;
  height: 30px;
  left: 35px;
  top: 389px;
}
.internsLocationContainer2{
  position: absolute;
  width: 436px;
  height: 30px;
  left: 35px;
  top: 419px;
}
.internsLocationContainer3{
  position: absolute;
  width: 436px;
  height: 30px;
  left: 35px;
  top: 449px;
}
.internsLocationContainer4{
  position: absolute;
  width: 436px;
  height: 30px;
  left: 35px;
  top: 479px;
}
.internsLocationContainer-p{
  position: absolute;
  width: 56.08px;
  height: 21px;
  left: 2px;
  top: 2px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* identical to box height */

  color: #04172A;
}
.internsLocationContainer-p1{
  position: absolute;
  width: 257.95px;
  height: 3px;
  left: 80px;
  top: 10px;
  z-index: 3;

  background: #10A439;
  border-radius: 15px;
}
.internsLocationContainer-p2{
  position: absolute;
  width: 280.39px;
  height: 3px;
  left: 90px;
  top: 10px;
  z-index: 1;

  background: #CCCCCC;
  border-radius: 15px;
}
.internsLocationContainer-p3{
  position: absolute;
  width: 37.39px;
  height: 21px;
  left: 400px;
  top: 2px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  /* identical to box height */

  color: #04172A;
}
.recent{
  position: absolute;
  width: 530px;
  height: 361px;
  left: 543px;
  top: 943px;

  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.recent h1{
  position: absolute;
  width: 285px;
  height: 43px;
  left: 21px;
  top: 60px;
}
.recentContainer1{
  position: absolute;
  width: 430px;
  height: 44px;
  left: 20px;
  top: 115px;
}
.recentContainer2{
  top: 185px;
}
.recentContainer-img{
  position: absolute;
  height: 40px;
  width: 40px;
  left: 2px;
  top: 20px;
}
.recentContainer-h2{
  position: absolute;
  width: 330px;
  height: 40px;
  left: 45px;
  top: 2px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #04172A;
}
.recentContainer-p1{
  position: absolute;
  height: 22px;
  width: 300px;
  top: 22px;
  left: 45px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #04172A;
}
.recentContainer-p2{
  position: absolute;
  width: 98.3px;
  height: 18px;
  left: 45px;
  top: 44px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #FF9501;
}
.copyright{
  position: absolute;
  width: 116px;
  height: 32px;
  left: 499px;
  top: 1679px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;

  /* identical to box height, or 267% */

  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1440px){
  .channels{
    width: calc((530/1440)*100vw);
  }
  .internsLocation{
    width: calc((530/1440)*100vw);
  }
  .recent{
    width: calc((530/1440)*100vw);
  }
  .analytics{
    width: calc((1067/1440)*100vw);
    height: 437px;
  }
  .internsData{
    width: calc((530/1440)*100vw);
    height: 252px;
  }
  .channels{
    width: calc((530/1440)*100vw);
    height: 252px;
    left: calc((543/1440)*100vw);
  }
  .internsLocation{
    width: calc((530/1440)*100vw);
    height: 570px;
  }
  .recent{
    width: calc((530/1440)*100vw);
    height: 361px;
    left: calc((543/1440)*100vw);
  }
  .copyright{
    left: calc((499/1440)*100vw);
  }
}
